<script type="module">
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('music_handler')) console.error('[music_handler] Connection to APIBridge failed, the view will not work as expected')

  let clScrobbledYet = false;
  let audioCtx = new (window.AudioContext || window.webkitAudioContext)();
  let audioElement = new Audio();
  let source;

  const playSong = async (song, album, type="album") => {
    console.log("PLAYING FROM TYPE", type);
    apiBridge.now.firstInit = false;
    apiBridge.cve.emit('loading', 'Starting ' + song.title + ' by ' + song.artist);
    clScrobbledYet = false;
    audioCtx = new (window.AudioContext || window.webkitAudioContext)();
    audioElement = new Audio();
    if(source) source.disconnect();
    if (apiBridge.now.cloop) clearInterval(apiBridge.now.cloop);
    apiBridge.cve.emit('loading_inc', 'Stopped all previous audio<br/>');
    apiBridge.now.loadingBuffer = true;
    apiBridge.cve.emit('loading_inc', 'Loading buffer<br/>');

    // Set the audio element source to the song URL
    audioElement.src = apiBridge.rawURL('/rest/stream?id=' + song.id);
    audioElement.load();

    apiBridge.now.loadingBuffer = false;
    apiBridge.cve.emit('loading_inc', 'Loaded audio buffer<br/>');
    if (audioCtx) {
      if (audioCtx.state === 'closed') {
        audioCtx = new AudioContext();
      } else {
        audioCtx.close();
        audioCtx = new AudioContext();
      }
      console.log('New audio buffer loaded - ' + song.title + ' by ' + song.artist);
    }

    // Create a MediaElementAudioSourceNode from the audio element
    source = audioCtx.createMediaElementSource(audioElement);

    let gainNode = audioCtx.createGain();
    apiBridge.now.gainNode = gainNode;

    source.connect(gainNode);
    gainNode.connect(audioCtx.destination);

    setVolume(apiBridge.localStorageHandler.get('volume'));
    setVolume(apiBridge.localStorageHandler.get('volume'));

    audioElement.play();
    apiBridge.now.buffer = audioElement;
    apiBridge.cve.emit('loading_inc', 'Connected!<br/>');
    apiBridge.cve.emit('loading_inc', 'Setting audio time<br/>');
    apiBridge.now.rtc = audioCtx.currentTime;
    apiBridge.music.scrobble(song.id, null, false);
    apiBridge.cve.emit('loading_inc', 'Setting last.fm scrobble<br/>');
    let startTime = new Date().getTime();
    apiBridge.playing = {
      ctx: audioCtx,
      source,
      gainNode,
      song,
    }
    apiBridge.localStorageHandler.set('playing', JSON.stringify(apiBridge.playing));
    apiBridge.localStorageHandler.set('playingStartTime', startTime);
    apiBridge.localStorageHandler.set('playingLastType', type);
    apiBridge.localStorageHandler.set('playingAlbum', album.id);
    apiBridge.localStorageHandler.set('playingAlbumName', album.name);
    apiBridge.localStorageHandler.set('playingDuration', audioElement.duration);
    apiBridge.cve.emit('loading_inc', 'Creating queue<br/>');
    if(apiBridge.queue.songsLeft.length == 0 && apiBridge.queue.songsRight.length == 0)
      await mkQueue(type, album, song);
    apiBridge.cve.emit('loading_inc', 'Set up all local variables, initializing playback loop<br/>');
    apiBridge.now.status = true;
    const tracking = setInterval(() => {
      let realCurrentTime = Number(audioElement.currentTime);
      apiBridge.now.rtc = realCurrentTime;
      apiBridge.localStorageHandler.set('playingTime', realCurrentTime);
      apiBridge.playing = {
        ctx: audioCtx,
        source: source,
        song: song,
        gainNode
      }
      document.title = song.artist + ' - ' + song.title + ' on Nougat';
      apiBridge.localStorageHandler.set('playing', JSON.stringify(apiBridge.playing));
      if (realCurrentTime >= audioElement.duration / 2 && apiBridge.localStorageHandler.get('scrobbled_' + song.id) != 'true') {
        apiBridge.music.scrobble(song.id, startTime, true);
        apiBridge.localStorageHandler.set('scrobbled_' + song.id, true);
        clScrobbledYet = true;
      }
      if (audioElement && realCurrentTime >= audioElement.duration) {
        clearInterval(tracking);
        document.title = 'Nougat';
        audioElement.pause();
        apiBridge.playing = null;
        apiBridge.localStorageHandler.set('playing', null);
        song.scrobbled = false;
        apiBridge.now.status = false;
        apiBridge.cve.emit('music_play_end', song);
        apiBridge.localStorageHandler.set('scrobbled_' + song.id, false);
        apiBridge.localStorageHandler.remove('scrobbled_' + song.id);
        apiBridge.queue.next();
      }
    }, 1000);
    apiBridge.now.cloop = tracking;
    apiBridge.cve.emit('loading_inc', 'Successfully started playback loop<br/>');
    apiBridge.cve.emit('loaded');
    apiBridge.cve.emit('music_play_start', song);
    return true;
  }
  apiBridge.music.playSong = playSong;

  apiBridge.queue.songsLeft = [];
  apiBridge.queue.songsRight = [];
  apiBridge.queue.current = '';
  const mkQueue = async (type, album, song) => {
    if (type === 'playlist') {
      return queueFromPlaylist(song, album);
    } else if (type === 'album') {
      return queueFromAlbum(song, album);
    }
  }
  apiBridge.mkQueue = mkQueue;

  const queueFromPlaylist = async (Dsong, playlist) => {
    const playlistIfo = await apiBridge.music.playlist(playlist.id);
    const song = playlistIfo.entry.find(s => s.id === Dsong.id);
    const songIndex = playlistIfo.entry.indexOf(song);
    apiBridge.queue.infoPull = playlistIfo;
    apiBridge.queue.songsLeft = playlistIfo.entry.slice(0, songIndex);
    apiBridge.queue.songsRight = playlistIfo.entry.slice(songIndex + 1);
    apiBridge.queue.current = song;
    return true;
  }
  const queueFromAlbum = async (Dsong, album) => {
    const albumIfo = await apiBridge.music.album(album.id);
    const song = albumIfo.song.find(s => s.id === Dsong.id);
    const songIndex = albumIfo.song.indexOf(song);
    apiBridge.queue.infoPull = albumIfo;
    apiBridge.queue.songsLeft = albumIfo.song.slice(0, songIndex);
    apiBridge.queue.songsRight = albumIfo.song.slice(songIndex + 1);
    apiBridge.queue.current = song;
    return true;
  }
  apiBridge.queue.next = async () => {
    if (apiBridge.queue.songsRight.length > 0) {
      const song = apiBridge.queue.songsRight.shift();
      await apiBridge.music.playSong(song, { id: apiBridge.localStorageHandler.get('playingAlbum'), name: apiBridge.localStorageHandler.get('playingAlbumName') },
        apiBridge.localStorageHandler.get('playingLastType'));
      setVolume(apiBridge.localStorageHandler.get('volume'));
    } else {
      apiBridge.toasts.send({ message: 'You\'ve reached the end of the queue! Stopping playback.' });
      apiBridge.now.pause();
    }
  }
  apiBridge.queue.previous = async () => {
    if (apiBridge.queue.songsLeft.length > 0) {
      const song = apiBridge.queue.songsLeft.pop();
      await apiBridge.music.playSong(song, { isAlbum: true, id: apiBridge.localStorageHandler.get('playingAlbum'), name: apiBridge.localStorageHandler.get('playingAlbumName') });
      setVolume(apiBridge.localStorageHandler.get('volume'));
    } else {
      apiBridge.toasts.send({ message: 'You\'ve reached the end of the queue! Stopping playback.' });
      apiBridge.now.pause();
    }
  }

  const setTime = async (time) => {
    if (audioElement) {
      audioElement.currentTime = time;
      let realCurrentTime = Number(audioElement.currentTime);
      apiBridge.now.rtc = realCurrentTime;
      apiBridge.localStorageHandler.set('playingTime', time);
    }
  };

  const map = (value, start1, stop1, start2, stop2) => start2 + (stop2 - start2) * ((value - start1) / (stop1 - start1));

  const setVolume = async (vol) => {
    if (apiBridge.playing && apiBridge.now.gainNode) {
      apiBridge.now.gainNode.gain.value = map(vol, 0, 100, 0, 1);
      apiBridge.cve.emit('music_volume_update', apiBridge.now.gainNode.gain.value);
      apiBridge.localStorageHandler.set('volume', vol);
    }
  };

  const pause = async () => {
    if (audioElement) {
      audioElement.pause();
    }
    apiBridge.now.status = false;
  };

  const resume = async () => {
    if (audioElement) {
      audioElement.play();
    }
    apiBridge.now.status = true;
  };
  apiBridge.now = {
    setTime,
    setVolume,
    pause,
    resume,
    firstInit: true,
  }

  if (apiBridge.localStorageHandler.get('playing') != 'null') {
    console.log('Searching for song to resume');
    apiBridge.ctxl.reloadView('ctxl_loading');
    apiBridge.cve.emit('loading', 'Resuming song');
    const playing = JSON.parse(apiBridge.localStorageHandler.get('playing')).song;
    const albumId = apiBridge.localStorageHandler.get('playingAlbum');
    const albumName = apiBridge.localStorageHandler.get('playingAlbumName');
    const duration = apiBridge.localStorageHandler.get('playingDuration');
    const startTime = apiBridge.localStorageHandler.get('playingStartTime');
    const playingTime = apiBridge.localStorageHandler.get('playingTime');
    const type = apiBridge.localStorageHandler.get('playingLastType');
    let song;
    console.log("FOUND", type);
    if(type == 'album') {
      const songs = await apiBridge.music.album(albumId);
      song = songs.song.find(s => s.id === playing.id);
    } else {
      const songs = await apiBridge.music.playlist(albumId);
      song = songs.entry.find(s => s.id === playing.id);
    }
    apiBridge.cve.emit('loading_inc', 'Got song data, playing!');
    apiBridge.cve.emit('loaded');
    console.log('Found song to resume, fetching stream');
    await apiBridge.music.playSong(song, { id: albumId, name: albumName }, type);
    console.log('Resuming song', playingTime, apiBridge.now.buffer);
    apiBridge.now.setTime(playingTime);
  }
</script>