<div id="nuidet">
  <p>Nougat: UI DevTools</p>
  <div class="view-section">
    <h3>apibridge.now</h3>
    <p>Buffer Status: <span class="bs">Loading</span></p>
    <p>Real-Time Clock: <span class="rtc">0</span></p>
    <p>Tracker-Loop: <span class="cloop"></span></p>
  </div>
  <div class="view-section">
    <h3>Player</h3>
    <p class="url">Server URL:</p>
    <p>Volume: <span class="vol"></span></p>
    <p>Song: <span class="song"></span></p>
  </div>
  <div class="view-section">
    <p>Reload CTXL views</p>
    <div class="view-reloaders view-list"></div>
  </div>
  <div class="view-section">
    <p>Open CTXL views</p>
    <div class="unopened-views view-list"></div>
  </div>
</div>
<style>
  .view-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.1);
    padding: 2px;
    border-radius: 1.5rem;
  }
  .view-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2px;
    cursor: pointer;
  }
  #nuidet {
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: max-content;
    z-index: 9999;
  }
</style>
<script>
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('devtools')) console.error('[devtools] Connection to APIBridge failed, the view will not work as expected')
  if (!apiBridge.devTools) {
    console.error('[devtools] This view has been disabled with "apiBridge.devtools = false". Hiding the view.')
    document.getElementById('nuidet').style.display = 'none';
    document.querySelector('.nuidttoggle').style.display = 'none';
  }
  const uirl = document.querySelector('.view-reloaders');
  const uovl = document.querySelector('.unopened-views');
  const nuidet = document.getElementById('nuidet');

  let draggin = false;
  let dragg = {x: 0, y: 0};
  nuidet.onmousedown = (e) => {
    draggin = true;
    dragg = {x: e.clientX - nuidet.offsetLeft, y: e.clientY - nuidet.offsetTop};
  }
  document.onmouseup = () => {
    draggin = false;
  }
  document.onmousemove = (e) => {
    if (draggin) {
      nuidet.style.left = e.clientX - dragg.x + 'px';
      nuidet.style.top = e.clientY - dragg.y + 'px';
    }
  }

  function ctxl_devtools_closing() {
    console.log('bye NDeTLoop')
    clearInterval(ndetloop);
  }
  apiBridge.ctxl.onclose['ctxl_progress'] = ctxl_devtools_closing;
  let ndetloop = setInterval(() => {
    uirl.innerHTML = '';
    uovl.innerHTML = '';
    const generalViews = apiBridge.ctxl.views;
    generalViews.forEach(view => {
      if (apiBridge.ctxl.opened.includes(view)) return;
      const btn = document.createElement('button');
      btn.innerText = 'Open ' + view;
      btn.onclick = () => {
        apiBridge.ctxl.nonDestructiveView(view);
      };
      uovl.appendChild(btn);
    });
    const views = apiBridge.ctxl.opened;
    views.forEach(view => {
      const btn = document.createElement('button');
      btn.innerText = 'Reload ' + view;
      btn.onclick = () => {
        apiBridge.ctxl.reloadView(view);
      };
      uirl.appendChild(btn);
    });

    const bs = document.querySelector('.bs');
    bs.innerText = apiBridge.now.status ? 'Loaded' : 'Loading';
    document.querySelector('.rtc').innerText = apiBridge.now.rtc;
    document.querySelector('.cloop').innerText = apiBridge.now.cloop;
    if (!apiBridge.now.loadingBuffer && !apiBridge.now.firstInit) document.querySelector('.vol').innerText = apiBridge.now.gainNode.gain.value * 100;
    const song = document.querySelector('.song');
    const csong = JSON.parse(apiBridge.localStorageHandler.get('playing'));
    if (csong == null) {
      song.innerText = 'No song playing';
    } else {
      song.innerText = csong.song.title + ' by ' + csong.song.artist;
    }
    const url = document.querySelector('.url');
    url.innerText = 'Server URL: ' + apiBridge.server;
  }, 1000);
</script>