<div id="viewprog">
  <strong id="csongtitle">Song</strong>
  <strong id="csongartist">Artist</strong>
  <input type="range" name="progress" id="progress">
  <p id="ctime">
    <span id="left">0:00</span> &nbsp; <span id="right">0:00</span>
  </p>
  <div id="controls">
    <button id="css">Scrobble</button>
    <button id="previous">⮜</button>
    <button id="play-pause">⏯</button>
    <button id="next">⮞</button>
  </div>
  <div class="flex-row">
    <span id="cscrobble">Not scrobbled</span>
  <button id="progclose">Close</button>
  </div>
</div>
<style>

  #progress::-webkit-slider-thumb {
    background-color: #333;
    border: 0;
    border-radius: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  #progress {
    width: 100%;
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: #444;
    outline: none;
    cursor: pointer;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #viewprog #controls {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* gap: 10px; */
  }
  #viewprog #controls button {
    font-size: 1.5em;
    font-family: "Rethink Sans", sans-serif;
    border: 0;
    border-radius: 1.5rem;
    background-color: #333;
    box-shadow: none;
    color: white;
  }
  #viewprog #controls button:hover {
    background-color: #555;

  }
  #viewprog {
    text-align: center;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-52%);
    width: 50%;
    border-radius: 1.5rem;
    padding: 10px;
    background-color: #333;
    color: white;
    z-index: 2;
  }
  #viewprog #progress {
    width: 100%;
  }

  #viewprog #ctime {
    text-align: center;
  }

  #cscrobble {
    font-size: 0.75em;
  }

  #viewprog #ctime #left, #csongtitle {
    float: left;
    height: max-content;
  }

  #viewprog #ctime #right, #csongartist {
    float: right;
    height: max-content;
  }

  #css {
    display: none;
  }
</style>
<script>
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('progress')) console.error('[progress] Connection to APIBridge failed, the view will not work as expected')


  const viewprog = document.getElementById('viewprog');
  viewprog.draggable = true;
  let dragging = false;
  viewprog.ondrag = (ev) => {
    viewprog.style.left = ev.clientX + 'px';
    viewprog.style.bottom = window.innerHeight - ev.clientY + 'px';
  }

  viewprog.ondragend = (ev) => {
    viewprog.style.left = ev.clientX + 'px';
    viewprog.style.bottom = window.innerHeight - ev.clientY + 'px';
  }

  const mktimestamp = (time) => {
    let minutes = Math.floor(time / 60);
    let seconds = Math.floor(time % 60);
    return minutes + ':' + seconds;
  }
  const mkPaddedTimestamp = (time) => {
    let minutes = Math.floor(time / 60);
    let seconds = Math.floor(time % 60);
    return minutes + ':' + (seconds < 10 ? '0' + seconds : seconds);
  }
  function progclose() {
    clearInterval(clop);
    apiBridge.ctxl.closeView('ctxl_progress')
    document.querySelector('#nowplaying').style.display = 'block';
  }
  function ctxl_progress_closing() {
    console.log('bye clop')
    clearInterval(clop);
  }
  apiBridge.ctxl.onclose['ctxl_progress'] = ctxl_progress_closing;
  const loopy = () => {
    let csong = JSON.parse(apiBridge.localStorageHandler.get('playing'));
    if(csong == null || apiBridge.playing == {}) {
      progress.max = 100;
      progress.value = 0;
      document.getElementById('left').innerText = '0:00';
      document.getElementById('right').innerText = '0:00';
      document.querySelector('#csongtitle').innerText = 'No song playing';
      document.querySelector('#csongartist').innerText = 'Play any song!';
      document.querySelector('#css').style.display = 'none';
      return;
    }
    const duration = apiBridge.playing.source.mediaElement.duration;
    progress.max = duration;
    progress.value = apiBridge.now.rtc || apiBridge.localStorageHandler.get('playingTime') || 0;
    document.getElementById('left').innerText = mkPaddedTimestamp(apiBridge.now.rtc);
    document.getElementById('right').innerText = mkPaddedTimestamp(duration);
    let scrobbledStatus = '';
    if (apiBridge.localStorageHandler.get('scrobbled_' + csong.song.id) == 'true') {
      scrobbledStatus = 'Scrobbled';
    } else {
      scrobbledStatus = 'Not scrobbled';
    }
    if(apiBridge.now.rtc >= duration / 2 && apiBridge.localStorageHandler.get('scrobbled_' + csong.song.id) != 'true') {
      document.getElementById('css').style.display = 'block';
    } else {
      document.getElementById('css').style.display = 'none';
    }
    document.querySelector('#csongtitle').innerText = csong.song.title;
    document.querySelector('#csongartist').innerText = csong.song.artist;
    document.querySelector('#cscrobble').innerText = scrobbledStatus;
  };
  const fallbackLoopy = () => {
    try {
      loopy()
    } catch(e) {
      console.error("Error while setting progress bar", e)
    }
  }
  const clop = setInterval(() => {
    fallbackLoopy();
  }, 1000);
  fallbackLoopy();
  progress.oninput = () => {
    apiBridge.now.setTime(progress.value, apiBridge.now.buffer);
    apiBridge.now.pause();
    apiBridge.now.resume();
  }
  document.querySelector('#play-pause').onclick = () => {
    if(apiBridge.now.status) 
      apiBridge.now.pause();
    else 
      apiBridge.now.resume();
  }
  document.querySelector('#previous').onclick = () => {
    apiBridge.queue.previous();
  }
  document.querySelector('#next').onclick = () => {
    apiBridge.queue.next();
  }
  document.querySelector('#progclose').onclick = progclose;
</script>