<div class="hview homeview">
  <button onclick="apiBridge.openV('ctxl_playlists')">Playlists</button>
  <button onclick="apiBridge.openV('ctxl_albums')">Albums</button>
  <button onclick="apiBridge.openV('ctxl_nowplaying')">Now Playing</button>
  <button onclick="apiBridge.lyricView.expand()">Lyrics</button>
</div>
<style>
  .homeview {
    margin-top: calc(var(--navbar-height) + 15px + .25%);
    margin-left: calc(var(--queue-width));
    margin-right: calc(var(--queue-width) + 2%);
    padding: 10px;
    background-color: #333;
    border-radius: 1.5rem;
  }
</style>

<script type="module">
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('content/albums')) console.error('[content/albums] Connection to APIBridge failed, the view will not work as expected')
let views = [
  'ctxl_playlists',
  'ctxl_albums',
  'ctxl_nowplaying'
]
  function openV(view) {
    views.forEach((v) => {
      if (v != view) {
        if(apiBridge.ctxl.opened.includes(v)) apiBridge.ctxl.closeView(v);
      } else {
        if(apiBridge.ctxl.opened.includes(v)) apiBridge.ctxl.reloadView(v);
        else apiBridge.ctxl.nonDestructiveView(v);
      }
    });
  }
  apiBridge.openV = openV;
</script>