<script type="module">
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('music_handler')) console.error('[music_handler] Connection to APIBridge failed, the view will not work as expected')

  let currentTimeOffset = 0;
  let clScrobbledYet = false;
  let audioCtx = new (window.AudioContext || window.webkitAudioContext)();
  let buffer;
  let source;

  const audioBuffers = {};
  apiBridge.audioBuffers = audioBuffers;

  async function preloadBuffers(audioContext, songUrls) {
    for (const url of songUrls) {
      if (audioBuffers[url]) {
        console.log('Already preloaded', url);
        continue;
      }
      const response = await fetch(url);
      const arrayBuffer = await response.arrayBuffer();
      const audioBuffer = await audioContext.decodeAudioData(arrayBuffer);
      audioBuffers[url] = audioBuffer;
      console.log('Preloaded', url);
    }
  }

  async function loadAudio(url) {
    if (audioBuffers[url]) {
      buffer = audioBuffers[url];
    } else {
      const response = await fetch(url);
      apiBridge.cve.emit('loading_inc', 'Buffer loading: Got a response.<br/>');
      const arrayBuffer = await response.arrayBuffer();
      apiBridge.cve.emit('loading_inc', 'Buffer loading: Turned into arrayBuffer.<br/>');
      buffer = await audioCtx.decodeAudioData(arrayBuffer);
      apiBridge.cve.emit('loading_inc', 'Buffer loading: Decoded audio data.<br/>');
      audioBuffers[url] = buffer;
      apiBridge.cve.emit('loading_inc', 'Buffer loading: Loaded & cached.<br/>');
    }
    apiBridge.cve.emit('loading_inc', 'Buffer loading: Function end<br/>');
  }

  const playSong = async (song, album, type="album") => {
    apiBridge.now.firstInit = false;
    apiBridge.cve.emit('loading', 'Starting ' + song.title + ' by ' + song.artist);
    clScrobbledYet = false;
    if (!audioCtx) {
      audioCtx = new AudioContext();
    }
    if (source) {
      source.stop();
      source = null;
      buffer = null;
      currentTimeOffset = 0;
    }
    if (apiBridge.now.cloop) {
      clearInterval(apiBridge.now.cloop);
    }
    apiBridge.cve.emit('loading_inc', 'Stopped all previous audio<br/>');
    apiBridge.now.loadingBuffer = true;
    apiBridge.cve.emit('loading_inc', 'Loading buffer<br/>');
    await loadAudio(apiBridge.rawURL('/rest/stream?id=' + song.id));
    apiBridge.now.loadingBuffer = false;
    apiBridge.cve.emit('loading_inc', 'Loaded audio buffer<br/>');
    if (audioCtx) {
      if (audioCtx.state === 'closed') {
        audioCtx = new AudioContext();
      } else {
        audioCtx.close();
        audioCtx = new AudioContext();
      }
      console.log('New audio buffer loaded - ' + song.title + ' by ' + song.artist);
    }
    source = audioCtx.createBufferSource();
    apiBridge.cve.emit('loading_inc', 'Connecting to audio stream<br/>');
    source.buffer = buffer;

    let gainNode = audioCtx.createGain();
    apiBridge.now.gainNode = gainNode;

    source.connect(gainNode);
    gainNode.connect(audioCtx.destination);

    setVolume(apiBridge.localStorageHandler.get('volume'));
    
    source.start();
    apiBridge.now.buffer = buffer;
    apiBridge.cve.emit('loading_inc', 'Connected!<br/>');
    apiBridge.cve.emit('loading_inc', 'Setting audio time<br/>');
    apiBridge.now.rtc = audioCtx.currentTime + currentTimeOffset;
    apiBridge.music.scrobble(song.id, null, false);
    apiBridge.cve.emit('loading_inc', 'Setting last.fm scrobble<br/>');
    let startTime = new Date().getTime();
    apiBridge.playing = {
      ctx: audioCtx,
      source,
      gainNode,
      song,
    }
    apiBridge.localStorageHandler.set('playing', JSON.stringify(apiBridge.playing));
    apiBridge.localStorageHandler.set('playingStartTime', startTime);
    if (album.isAlbum) {
      apiBridge.localStorageHandler.set('playingAlbum', album.id);
      apiBridge.localStorageHandler.set('playingAlbumName', album.name);
    }
    apiBridge.localStorageHandler.set('playingDuration', source.buffer.duration);
    apiBridge.cve.emit('loading_inc', 'Creating queue<br/>');
    await mkQueue(type, album, song);
    apiBridge.cve.emit('loading_inc', 'Set up all local variables, initializing playback loop<br/>');
    apiBridge.now.status = true;
    const tracking = setInterval(() => {
      console.log(apiBridge.playing)
      let realCurrentTime = Number(source.context.currentTime) + Number(currentTimeOffset);
      apiBridge.now.rtc = realCurrentTime;
      apiBridge.localStorageHandler.set('playingTime', realCurrentTime);
      apiBridge.playing = {
        ctx: audioCtx,
        source: source,
        song: song,
        gainNode
      }
      document.title = song.artist + ' - ' + song.title + ' on Nougat';
      apiBridge.localStorageHandler.set('playing', JSON.stringify(apiBridge.playing));
      if (realCurrentTime >= source.buffer.duration / 2 && apiBridge.localStorageHandler.get('scrobbled_' + song.id) != 'true') {
        apiBridge.music.scrobble(song.id, startTime, true);
        apiBridge.localStorageHandler.set('scrobbled_' + song.id, true);
        clScrobbledYet = true;
      }
      if (source && realCurrentTime >= source.buffer.duration) {
        clearInterval(tracking);
        document.title = 'Nougat';
        source.stop();
        apiBridge.playing = null;
        apiBridge.localStorageHandler.set('playing', null);
        song.scrobbled = false;
        apiBridge.now.status = false;
        apiBridge.cve.emit('music_play_end', song);
        apiBridge.localStorageHandler.set('scrobbled_' + song.id, false);
        apiBridge.localStorageHandler.remove('scrobbled_' + song.id);
        apiBridge.queue.next();
      }
      setVolume(apiBridge.localStorageHandler.get('volume'));
      console.log('Playing time:', realCurrentTime);
    }, 1000);
    apiBridge.now.cloop = tracking;
    apiBridge.cve.emit('loading_inc', 'Successfully started playback loop<br/>');
    apiBridge.cve.emit('loaded');
    apiBridge.cve.emit('music_play_start', song);
    let urls = apiBridge.queue.songsRight.concat([song]).concat(apiBridge.queue.songsLeft).map(s => apiBridge.rawURL('/rest/stream?id=' + s.id));
    preloadBuffers(audioCtx, urls);
    setVolume(apiBridge.localStorageHandler.get('volume'));
    return true;
  }
  apiBridge.music.playSong = playSong;
  
  apiBridge.queue.songsLeft = [];
  apiBridge.queue.songsRight = [];
  apiBridge.queue.current = '';
  const mkQueue = async (type, album, song) => {
    if (type === 'playlist') {
      return queueFromPlaylist(song, album);
    } else if (type === 'album') {
      return queueFromAlbum(song, album);
    }
  }

  const queueFromPlaylist = async (Dsong, playlist) => {
    const playlistIfo = await apiBridge.music.playlist(playlist.id);
    const song = playlistIfo.song.find(s => s.id === Dsong.id);
    const songIndex = playlistIfo.song.indexOf(song);
    apiBridge.queue.infoPull = playlistIfo;
    apiBridge.queue.songsLeft = playlistIfo.song.slice(0, songIndex);
    apiBridge.queue.songsRight = playlistIfo.song.slice(songIndex + 1);
    apiBridge.queue.current = song;
    return true;
  }
  const queueFromAlbum = async (Dsong, album) => {
    const albumIfo = await apiBridge.music.album(album.id);
    const song = albumIfo.song.find(s => s.id === Dsong.id);
    const songIndex = albumIfo.song.indexOf(song);
    apiBridge.queue.infoPull = albumIfo;
    apiBridge.queue.songsLeft = albumIfo.song.slice(0, songIndex);
    apiBridge.queue.songsRight = albumIfo.song.slice(songIndex + 1);
    apiBridge.queue.current = song;
    return true;
  }
  apiBridge.queue.next = async () => {
    if (apiBridge.queue.songsRight.length > 0) {
      const song = apiBridge.queue.songsRight.shift();
      await apiBridge.music.playSong(song, { isAlbum: true, id: apiBridge.localStorageHandler.get('playingAlbum'), name: apiBridge.localStorageHandler.get('playingAlbumName') });
      setVolume(apiBridge.localStorageHandler.get('volume'));
    } else {
      apiBridge.toasts.send({ message: 'You\'ve reached the end of the queue! Stopping playback.' });
      apiBridge.now.pause();
    }
  }
  apiBridge.queue.previous = async () => {
    if (apiBridge.queue.songsLeft.length > 0) {
      const song = apiBridge.queue.songsLeft.pop();
      await apiBridge.music.playSong(song, { isAlbum: true, id: apiBridge.localStorageHandler.get('playingAlbum'), name: apiBridge.localStorageHandler.get('playingAlbumName') });
      setVolume(apiBridge.localStorageHandler.get('volume'));
    } else {
      apiBridge.toasts.send({ message: 'You\'ve reached the end of the queue! Stopping playback.' });
      apiBridge.now.pause();
    }
  }

  const setTime = async (time, buffer) => {
    if (apiBridge.playing.source) {
      apiBridge.playing.source.stop();
      apiBridge.playing.source = apiBridge.playing.ctx.createBufferSource();
    }
    apiBridge.playing.source.buffer = buffer;

    if (!apiBridge.playing.gainNode) {
      apiBridge.playing.gainNode = apiBridge.playing.ctx.createGain();
      apiBridge.now.gainNode = apiBridge.playing.gainNode;
    }

    apiBridge.playing.source.connect(apiBridge.playing.gainNode);
    apiBridge.playing.gainNode.connect(apiBridge.playing.ctx.destination);

    setVolume(apiBridge.localStorageHandler.get('volume'));

    apiBridge.playing.source.start(0, time);
    currentTimeOffset = time;
    let realCurrentTime = Number(apiBridge.playing.source.context.currentTime) + Number(currentTimeOffset);
    apiBridge.now.rtc = realCurrentTime;
    apiBridge.localStorageHandler.set('playingTime', time);
  };

  const map = (value, start1, stop1, start2, stop2) => start2 + (stop2 - start2) * ((value - start1) / (stop1 - start1));

  const setVolume = async (vol) => {
    if (apiBridge.playing && apiBridge.now.gainNode) {
      apiBridge.now.gainNode.gain.value = map(vol, 0, 100, 0, 1);
      apiBridge.localStorageHandler.set('volume', vol);
    }
  };

  const pause = async () => {
    if (apiBridge.playing != null && apiBridge.playing.source) {
      apiBridge.playing.source.stop();
      apiBridge.playing.source = null;
    }
    if (apiBridge.playing && apiBridge.playing.ctx) {
      await apiBridge.playing.ctx.close();
      apiBridge.playing.ctx = null;
    }
    apiBridge.now.status = false;
  };

  const resume = async () => {
    if (apiBridge.playing) {
      if (!apiBridge.playing.ctx) {
        apiBridge.playing.ctx = new AudioContext();
      }
      await apiBridge.music.playSong(apiBridge.playing.song, {
        isAlbum: true,
        id: apiBridge.localStorageHandler.get('playingAlbum'),
        name: apiBridge.localStorageHandler.get('playingAlbumName')
      });
      setTime(apiBridge.localStorageHandler.get('playingTime'), apiBridge.now.buffer);
      setVolume(apiBridge.localStorageHandler.get('volume'));
    }
    apiBridge.now.status = true;
  };
  apiBridge.now = {
    setTime,
    setVolume,
    pause,
    resume,
    firstInit: true,
  }

  if (apiBridge.localStorageHandler.get('playing') != 'null') {
    console.log('Searching for song to resume');
    apiBridge.ctxl.reloadView('ctxl_loading');
    apiBridge.cve.emit('loading', 'Resuming song');
    const playing = JSON.parse(apiBridge.localStorageHandler.get('playing')).song;
    const albumId = apiBridge.localStorageHandler.get('playingAlbum');
    const albumName = apiBridge.localStorageHandler.get('playingAlbumName');
    const duration = apiBridge.localStorageHandler.get('playingDuration');
    const startTime = apiBridge.localStorageHandler.get('playingStartTime');
    const playingTime = apiBridge.localStorageHandler.get('playingTime');
    const songs = await apiBridge.music.album(albumId);
    const song = songs.song.find(s => s.id === playing.id);
    apiBridge.cve.emit('loading_inc', 'Got song data, playing!');
    apiBridge.cve.emit('loaded');
    console.log('Found song to resume, fetching stream');
    await apiBridge.music.playSong(song, { isAlbum: true, id: albumId, name: albumName });
    console.log('Resuming song', playingTime, apiBridge.now.buffer);
    apiBridge.now.setTime(playingTime, apiBridge.now.buffer);
  }
</script>