<div id="lyrics">
  <button onclick="apiBridge.toggleThing()">Expand</button>
  <div id="lyrics-content">
  </div>
</div>

<style>

  #lyrics {
    /* a sidebar */
    position: fixed;
    bottom: 1%;
    left: .5%;
    width: calc(var(--queue-width) - 2%);
    margin-top: calc(var(--navbar-height) + 15px);
    height: calc(100% - var(--navbar-height) - 4%);
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 1.5rem;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .lyric {
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.05, 0.9, 0.1, 1.05);
  }

  .lyric.active {
    color: #fff;
    scale: 1;
    background-color: rgba(0,0,0,0.125);
    padding: 5px;
    border-radius: 1.5rem;
  }
  .lyric.inactive {
    scale: 0.85;
    color: #999;
  }
</style>

<script type="module">
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('content/lyrics')) console.error('[content/lyrics] Connection to APIBridge failed, the view will not work as expected')
  
  apiBridge.toggleThing = () => {
    if(document.getElementById('lyrics').style.width) {
      apiBridge.lyricView.collapse();
    } else {
      apiBridge.lyricView.expand();
    }
  }
  apiBridge._lyrics = {
    lyrics: null,
    last: {time: -1, duration: -1, lyric: ''},
    interval: null
  };
  apiBridge.lyricView = {
  }
  let previos=[]
  function cie(a) {
    if(apiBridge.ctxl.opened.includes(a)) {
      previos.push(a)
      apiBridge.ctxl.closeView(a);
    }
  }

  apiBridge.lyricView.expand = () => {
    previos=[];
    if(document.querySelector('#progclose')) document.querySelector('#progclose').click();
    document.getElementById('lyrics').style.width = '78%';
    document.getElementById('lyrics').style.borderTopRightRadius = '0';
    document.getElementById('lyrics').style.borderBottomRightRadius = '0';
    // add style to .lyric
    // width: 89%
    document.querySelectorAll('.lyric').forEach(p => {
      p.style.width = '97%';
    });
    cie("ctxl_home")
    cie("ctxl_albums")
    cie("ctxl_playlists")
    cie("ctxl_nowplaying")
  }
  apiBridge.lyricView.collapse = () => {
    document.getElementById('lyrics').style.width = '';
    document.getElementById('lyrics').style.borderTopRightRadius = '';
    document.getElementById('lyrics').style.borderBottomRightRadius = '';
    document.querySelectorAll('.lyric').forEach(p => {
      p.style.width = '';
    });
    previos.forEach(a => apiBridge.ctxl.nonDestructiveView(a));
  }

  apiBridge.cve.on("music_play_start", doGet);
  if(apiBridge.playing.song) doGet(apiBridge.playing.song);

  function getLyricsFor(song) {
    console.log("Grabbing for ", song)
    let fmt = `${song.title}${song.artist}${song.album}${song.duration}`;
    let url = `https://lrclib.net/api/get?artist_name=${encodeURIComponent(song.artist)}&track_name=${encodeURIComponent(song.title)}&album_name=${encodeURIComponent(song.album)}&duration=${song.duration}`;
    let lyricMap = {};
    if(!localStorage.getItem('lyrics')) localStorage.setItem('lyrics', JSON.stringify(lyricMap));
    lyricMap = JSON.parse(localStorage.getItem('lyrics'));
    if(lyricMap[fmt]) return lyricMap[fmt];

    return fetch(url).then((r)=>r.json()).then(res => {
      lyricMap[fmt] = parseLyrics(res.syncedLyrics.toString().split("\n"));
      localStorage.setItem('lyrics', JSON.stringify(lyricMap));
      return lyricMap[fmt];
    })
  }

  async function doGet(song) {
    apiBridge._lyrics.lyrics = null;
    if (apiBridge._lyrics.interval) clearInterval(apiBridge._lyrics.interval);
    apiBridge._lyrics.lyrics = await getLyricsFor(song);
    console.log(apiBridge._lyrics.lyrics);
      document.getElementById('lyrics-content').innerHTML = apiBridge._lyrics.lyrics.map(lyric => `<p class="lyric inactive" id="ly${lyric.time}">${lyric.lyric}</p>`).join('');
      document.getElementById('lyrics-content').scrollTo(0, 0);
      apiBridge._lyrics.interval = setInterval(() => {
        if (apiBridge._lyrics.lyrics) {
          const lyrics = apiBridge._lyrics.lyrics;
          const time = apiBridge.now.rtc
          const currentLyric = lyrics.find(lyric => lyric.time <= time && lyric.time + lyric.duration >= time);
          if(currentLyric) apiBridge._lyrics.last = currentLyric;
          document.querySelectorAll('#lyrics-content > p').forEach(p => {
            p.classList.remove('active');
            p.classList.add('inactive');
          });
          if(apiBridge._lyrics.last.time == -1 || apiBridge._lyrics.last.duration == -1) return;
          document.getElementById(`ly${apiBridge._lyrics.last.time}`).classList.add('active');
          document.getElementById(`ly${apiBridge._lyrics.last.time}`).classList.remove('inactive');
          document.getElementById(`ly${apiBridge._lyrics.last.time}`).scrollIntoView({behavior: 'smooth', block: 'center'});
        }
      }, 1000);
  }

  function parseLyrics(lyrics) {
    const parsedLyrics = [];
    lyrics.forEach(lyric => {
      const time = lyric.match(/\[(\d+):(\d+).(\d+)\]/);
      if (time) {
        const timeInSeconds = parseInt(time[1]) * 60 + parseInt(time[2]) + parseInt(time[3]) / 100;
        const lyricText = lyric.replace(/\[(\d+):(\d+).(\d+)\]/, '');
        parsedLyrics.push({
          time: timeInSeconds,
          duration: 2,
          lyric: lyricText
        });
      }
    });
    return parsedLyrics;
  }
</script>