<div id="hview">
  <h1>Playlists (<span class="albs-stat">36</span>)</h1>
  <div id="playlists">
  </div>
</div>
<style>

  #hview {
    padding: 10px;
    margin-top: var(--navbar-height);
    margin-right: calc(var(--queue-width) + 1%);
  }
  #albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  #albums div {
    border: 1px solid #333;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2px;
  }

  #albums div h2 {
    font-size: 1em;
  }

  #albums img {
    width: 100%;
  }
</style>

<script type="module">
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('content/playlists')) console.error('[content/playlists] Connection to APIBridge failed, the view will not work as expected')

  // const albumList = (await apiBridge.music.albumList()).album;
  // document.querySelector('.albs-stat').innerHTML = albumList.length;

  // albumList.forEach(album => {
  //   const albumDiv = document.createElement('div');
  //   albumDiv.innerHTML = "<img src=" + apiBridge.rawURL('/rest/getCoverArt?id=' + album.id) + ">" + " <h2>" + album.name + "</h2><p>" + album.artist + "</p>";
  //   albumDiv.onclick = async () => {
  //     const songs = await apiBridge.music.album(album.id);
  //     apiBridge.cve.emit('albumClick', [album, songs]);
  //     apiBridge.cve.emit('showAlbumView');
  //   }
  //   document.getElementById('albums').appendChild(albumDiv);
  // });
</script>