<div class="hview homeview">
  <div class="content">
    <h2>Listen from:</h2>
    <button id="playlists" onclick="apiBridge.openV('ctxl_playlists')">Playlists</button>
    <button id="albums" onclick="apiBridge.openV('ctxl_albums')">Albums</button>
  </div>
  <h3>Navidrome on <div id="surl"></div></h3>
</div>
<style>
  .homeview {
    margin-left: calc(var(--queue-width) + 1%);
  }
</style>

<script type="module">
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('content/albums')) console.error('[content/albums] Connection to APIBridge failed, the view will not work as expected')
  document.getElementById('surl').innerHTML = apiBridge.server;
  function openV(view) {
    apiBridge.ctxl.closeView('ctxl_home');
    apiBridge.ctxl.nonDestructiveView(view);
  }
  apiBridge.openV = openV;
</script>