<div id="queueview">
  <h2>Queue</h2>
  <div id="queueprev" class="qv">

  </div>
  <div id="queuecurr"></div>
  <div id="queuenext" class="qv"></div>
</div>

<style>
  #queueview {
    /* a sidebar */
    position: fixed;
    bottom: 1%;
    right: .5%;
    width: var(--queue-width);
    margin-top: var(--navbar-height);
    height: calc(100% - var(--navbar-height) - 4%);
    border-radius: 1.5rem;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .qv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    filter:brightness(0.8);
  }

  .qv-song {
    background-color: #455;
    padding: 10px;
    border-radius: 1.5rem;
    cursor: pointer;
  }

  #queueprev {
    font-size: .5em;
  }

  #queuenext {
    font-size: .75em;
  }

  #queueview img {
    width: 100%;
  }
</style>

<script>
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('queue')) console.error('[queue] Connection to APIBridge failed, the view will not work as expected')
  apiBridge.cve.on('music_play_start', () => {
    queueSetup();
  }, 1500);

  apiBridge.cve.on("queue_reload", () => {
    queueSetup();
  });

  const queueSetup = () => {
    document.getElementById('queueprev').innerHTML = '';
    document.getElementById('queuecurr').innerHTML = '';
    document.getElementById('queuenext').innerHTML = '';
    apiBridge.queue.songsLeft.forEach(song => {
      const songDiv = document.createElement('div');
      songDiv.classList.add('qv-song');
      songDiv.dataset.sin = JSON.stringify(song)
      songDiv.innerHTML = `<h2>${song.title}</h2><p>${song.artist}</p>`;
      document.getElementById('queueprev').appendChild(songDiv);
    });
    const songDiv = document.createElement('div');
    songDiv.classList.add('qv-song');
    songDiv.dataset.sin = JSON.stringify(apiBridge.queue.current);
    if(apiBridge.queue.current.title != undefined) {
      songDiv.innerHTML = `<h2>${apiBridge.queue.current.title}</h2><p>${apiBridge.queue.current.artist}</p>`;
    } else {
      songDiv.innerHTML = `<h2>No song playing</h2><p>Play something!<p>`;
    }
    document.getElementById('queuecurr').appendChild(songDiv);
    apiBridge.queue.songsRight.forEach(song => {
      const songDiv = document.createElement('div');
      songDiv.classList.add('qv-song');
      songDiv.dataset.sin = JSON.stringify(song)
      songDiv.innerHTML = `<h2>${song.title}</h2><p>${song.artist}</p>`;
      document.getElementById('queuenext').appendChild(songDiv);
    });
    songDiv.onclick = async () => {
      await apiBridge.music.playSong(JSON.parse(song.dataset.sin), apiBridge.queue.infoPull, apiBridge.localStorageHandler.get('playingLastType'))
    }
  }

  if(apiBridge.queue.songsLeft != null) queueSetup();
</script>