<div id="navbar">
  <h1>Nougat</h1>
  <button id="nowplaying">Now Playing</button>
  <input type="range" id="volume" min="0" max="100" step="1" value="100">
  <div>
    <button class="minimizetopbar">
      Minimize top bar
    </button>
    <button class="nuidttoggle">Open/Close NougatDevTools</button>
  </div>
</div>
<style>
  input {
    width: 35%;
  }
</style>
<script>
  import apiBridge from './apiBridge.js'
  if (!apiBridge.testConnectionToAppMain('navbar')) console.error('[navbar] Connection to APIBridge failed, the view will not work as expected')

  document.querySelector('#nowplaying').onclick = () => {
    apiBridge.ctxl.nonDestructiveView('ctxl_progress');
    document.querySelector('#nowplaying').style.display = 'none';
  } 
  document.querySelector('#volume').oninput = (e) => {
    apiBridge.now.setVolume(e.target.value);
  }

  document.querySelector('.nuidttoggle').onclick = () => {
    const nuidet = document.getElementById('nuidet');
    nuidet.style.display = nuidet.style.display === 'none' ? 'flex' : 'none';
  }

  document.querySelector('.minimizetopbar').onclick = () => {
    const computedStyle = getComputedStyle(document.documentElement);
    const navbarHeight = computedStyle.getPropertyValue('--navbar-height');
    document.documentElement.style.setProperty('--navbar-height', navbarHeight === '5rem' ? '2rem' : '5rem');
    document.documentElement.style.setProperty('--navbar-text-size', navbarHeight === '5rem' ? '1em' : '2em');
  }
</script>

<style>
  #navbar {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    width: calc(99% - 2rem);
    background-color: #333;
    color: white;
    display: flex;
    height: var(--navbar-height);
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    z-index: 9999;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;
  }

  #nowplaying {
    display: none;
  }

  #navbar h1 {
    font-size: var(--navbar-text-size);
    text-align: center;
  }

  #navbar a {
    color: white;
    text-decoration: none;
  }

  #navbar a:hover {
    text-decoration: underline;
  }
</style>